<!DOCTYPE html>
<html>
<head>
  <title>Accard Maintenance</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
  <p class="lead">Down for Maintenance</p>
  <p>
    Your website has been taken down for scheduled maintenance and will be back
    shortly. Thank you for your patience while we upgrade Accard.
  </p>
</body>
</html>