<div class="row">
    <div class="col-md-6">
    {% if form.patient is defined %}
        {{ form_row(form.patient) }}
    {% endif %}
        {{form_row(form.startDate)}}
        {{form_row(form.endDate)}}
    </div>

    <div class="col-md-6">
    {% for field in form.fields %}
        {{ form_widget(field) }}
    {% endfor %}
    </div>
</div>
