{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% extends 'AccardWebBundle:Frontend/Flow:layout.html.twig' %}

{% from 'AccardWebBundle:Common/Macros:misc.html.twig' import page_title %}

{% block flow_content %}
    {{ page_title('accard.flow.pre_existing_conditions.action.create'|trans) }}
    {{ form_errors(form) }}    
	
	<div class="row">
		<ul id="diagnoses" class="diagnoses" data-prototype="
											<hr>
												<div class='row'>
													<div class='col-md-6'>
													  {{ form_widget(form.diagnoses.vars.prototype.code)|e }}
													</div>
													<div class='col-md-6'>
													  {{ form_widget(form.diagnoses.vars.prototype.startDate)|e }}
													</div>
												</div>	
											  ">

		</ul>
	</div>
	<div class="row pull-right">
		<button id="add_pre_exisiting_condition" class="btn btn-success"><i class = 'glyphicon glyphicon-plus'></i> Add Pre-existing Condition</button>
	</div>

{% endblock %}

{% block page_javascripts %}

<script>
var formClass = Accard.get('form');
var manager = new formClass('form');

  manager

    .collection("#diagnoses", {
      adder: $("#add_pre_exisiting_condition"),
      startup: function(collection) {
        var common = this.find("select")
          , icd9 = this.find("[data-accard=typeahead]")
         
        collection.form
          .bindGroup("risk-factor")
          .plugin("typeahead", icd9)
          .behavior(common, {
            init: false,
            target: icd9,
            condition: "changed",
            action: ["callback", function(result) {
              var widget = icd9.data("accard.form.typeahead_widget")
                , value = common.val()
              
              icd9.val(value)
              widget.typeahead("val", value)
              widget.off("keydown.typeahead")
              widget.on("keydown.typeahead", function() {
                common.val("")
              })
            }]
          })
        .bindAll()
      }
    })

    .bindAll()
;

</script>

{% endblock %}