{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% extends 'AccardWebBundle:Frontend/Flow:layout.html.twig' %}

{% from 'AccardWebBundle:Common/Macros:misc.html.twig' import page_title %}

{% block flow_content %}

    {% if patient is defined %}
    <div class="row">
        <div class="col-md-4">
            <h3>Patient</h3>
            <p>A patient with the following details will be created.</p>
        </div>
        <div class="col-md-8">
            {% include 'AccardWebBundle:Frontend/Patient:detail.html.twig' %}
        </div>
    </div>
    {% endif %}

    {% if diagnosis is defined %}
    <div class="row">
        <div class="col-md-4">
            <h3>Diagnosis</h3>
            <p>A patient with the following details will be created.</p>
        </div>
        <div class="col-md-8">
            {% include 'AccardWebBundle:Frontend/Diagnosis:detail.html.twig' %}
        </div>
    </div>
    {% endif %}

    {% if create_pre_existing_conditions.diagnoses is defined %}
        <div class="row">
            <div class="col-md-4">
                <h3>Pre-existing Conditions</h3>
                <p>A paitent with the following details will be created.</p>
            </div>
            {% for diagnosis in create_pre_existing_conditions.diagnoses %}
                <div class="col-md-8">
                    {% include 'AccardWebBundle:Frontend/Diagnosis:detail.html.twig' %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}

